.post {
    height: 45%;
    width: 45%;
    min-height: 400px;
    min-width: 400px;
    margin: 2%;
}

.post-content,
.post-footer,
.post-header {
    margin: 2%;
    padding: 2%;
}

.text-bold {
    font-size: 1rem;
    font-weight: 750;
}

.text-lite {
    font-size: 0.8rem;
    font-weight: 500;
}