.profile-detail .MuiAvatar-circle {
    width: 150px;
    height: 150px;
}

.image-grid {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
    margin-right: 10%;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    border-radius: 2%;
}